input[type="text"] {width: max-content; margin-left: auto; margin-right: auto; }
td {text-align: center; padding-bottom: 1em; padding-left: 2em; }
hr {color: lightgray; }
#display_color {border: 1px dashed black; height: 3em; width: 3em; margin-left: 2em; border-radius: 0.5em; }
#error_display {background-color: red; color: black; text-align: center; padding: 0.25em; border-radius: 0.25em; }
.incomplete {box-shadow: 0 0 3px 3px crimson; }
.hidden {display: none}